<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.cxy.mapper.CategoryMapper">


    <select id="QueryCategoryByCondition" resultType="com.woniuxy.cxy.entity.Category">
        SELECT * FROM h_category
        <where>
            <if test="condition.categoryName!=null and condition.categoryName!=''">
                and category_name = #{condition.categoryName}
            </if>
            <if test="condition.begin!=null and condition.begin!=''">
                and create_time &gt;= #{condition.begin}
            </if>
            <if test="condition.end!=null and condition.end!=''">
                and create_time &lt;= #{condition.end}
            </if>
        </where>
    </select>

</mapper>
